.sec1a{
    margin: 25px;
    padding-left: 35px;
    padding-right: 30px;
}
.carousel-inner{
    border-radius: 100px;
}
.sec5a{
    margin: 30px;
    padding-left: 35px;
    padding-right: 30px;
}
.sec6a{
    margin: 30px;
    padding-left: 35px;
    padding-right: 30px;
}
.row6a{
    display: flex;
    column-gap: 75px;
}