.ten{
    margin-left: 5%;
    margin-right: 5%;
}
.row6{
    width: 100%;
    display: flex;
}
.col19{
    width: 50%;
}
.col20{
    width: 50%;
    padding-left:20% ;
}
.btn5{
    background-color: black;
    color: azure;

}
.head3{
    font-weight: bold;
}
.eleven{
    margin-left: 5%;
    margin-right: 5%;

}
.row7{
    width: 100%;
    display: flex;
}
.col21{
    width: 25%;
}
.col22{
    width: 25%;
}
.col23{
    width: 25%;
}
.col26{ 
    width: 25%;
    padding-left: 10%;
}
.head4{
    font-weight: bold;
    font-size: 20px;
}
.twelve{
    margin-left: 5%;
    margin-right: 5%;}
.row9{
    width: 100%;
    display: flex;
    column-gap: 220px;
}
.col27{
    width: 25%;
}
.col28{
    width: 25%;
}
.col29{
    width: 25%;
}
.col30{
    width: 25%;
    padding-left: 0px;
    
}
.i8{
    padding-top: 9%;
    padding-left: 3%;
}
.row10{
    width: 100%;
    display: flex;

}
.col31{
    width:10% ;

}
.col32{
    width:30% ;
    padding-top: 15PX;
    font-size: 13px;
    color: rgb(177, 171, 171);

}
.i9{
    /* padding-top: -15%; */
}
/* hr{
    margin-right: 130px;
} */